#root {
  padding: 1rem;
  text-align: center;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animated-logo {
  height: auto;
  animation: bounce 2s infinite;
}

.custom-drop-shadow {
  filter: drop-shadow(5px 6px 2px #00000040);
}
